/*style for faq accordion card from front end mentor.*/
html{
	font-family: 'Kumbh Sans', sans-serif;
	background:linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    color:hsl(0deg 0% 99%);
    height:auto;
    margin-bottom:auto;
    padding-bottom:100px;
    padding-top:0;
    display:flex;
    justify-content:center;
}
body {
	height:fit-content;;
    font-size:12px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin:0px 0px;
    color:hsl(238, 29%, 16%);
    font-size:10px;
    max-width:700px;
    height:90vh;
    padding:0;
}	
h2 {
	font-size:25px;
	margin:15px 0;
}
.container{
	width:90%;
	background-color:white;
	overflow:hidden;
	display:flex;
	postion:relative;
	padding:40px;
	border-radius:20px;	
	box-shadow: 0 16px 25px -15px #000000a8;
}

.visuals{
	display:inline-block;
	align-items:center;
	display:relative;
	width:50%;
}
.visuals .woman{
	width:400px;
	height:300px;
	right:110px;
	position:relative;
	z-index:1;
}
.mailbox{
	width:150px;
	height:150px;
	top:305px;
	right:75px;
	position:relative;
	z-index:2;
}
.visuals .pattern{
	width:770px;
	height:730px;
	position:relative;
	right:480px;
	top:-570px;
	z-index:0;
}

.faq {
	display:flex;
	flex-direction:column;
	width:80%;
	padding:0px 30px;
	font-size:12;
}
.qna {
	margin:0 auto;
	padding-left:0;
	border-bottom:1px solid hsl(240, 5%, 91%);
	padding:10px 0;
	width:100%;
}
.qna li {
	font-weight:400;
	list-style-type:none;
	font-size:12px;
	color:hsl(240, 6%, 50%);

}
.qna li img{
	float:right;
}

li:first-of-type{
	padding: 7px 0;
    color:hsl(237, 12%, 33%);
}
li:first-of-type:hover {
	color:hsl(14, 88%, 65%);
	cursor:pointer;
}
li:first-of-type:focus{
	font-weight:700;
	outline:none;
}
li:first-of-type:focus img{
	transform:rotate(180deg);
	transition:0.5s;
}
.answer{
	height:0;
	overflow:hidden;
	font-size:10px;

}
li:first-of-type:focus ~ .answer{
	transition:0.5s;
	height:100%;
}

@media screen and (max-width:668px){
	html{
		padding:100px 0;
	}
    body{
    	margin-top:5%;
    	display:flex;
    	margin:10%;
    	margin-right:0%;
    }
	.container{
		max-width:340px;
		display:flex;
		flex-direction:row;
		overflow:visible;
		padding:0;
	}
	.visuals{
		width:0;
		padding-bottom:100px;
	}
	.visuals .woman{
		content:url('images/illustration-woman-online-mobile.svg');
		width:230px;
		height:auto;
		top:-95px;
		left:25px;
		position:relative;
		z-index:1;
		visibility:;
	}
	.mailbox{
		display:none;
/* 		width:60px;
		height:60px;
		top:33px;
		left:75px;
		position:relative;
		z-index:2; */
	}
	.visuals .pattern{
		content:url('images/bg-pattern-mobile.svg');
		width:205px;
		height:90px;;
		position:relative;
		left:50px;
		top:-175px;
		z-index:0;
	}
	.faq{
		margin-top:30px;
		width:auto;
		padding:70px 20px;
		margin-bottom:0;
		padding-bottom:40px;
	}
	h2 {
		display:flex;
		justify-content:center;
		align-text:center;
	}

}
