html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	color: #050708;
	background: #1ca9d8 url("images/bg-pattern-top.svg") no-repeat top left;
	margin: 220px 420px;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	justify-content: center;
    align-items: center;
    width:70%;
    height: 100%;
}
.card {
    width:45%;
    filter: drop-shadow(0 0 30px #333);  
    border-radius: 25px;
    overflow:hidden;
}
.bg-cover img{
    width:100%;
    height:max-content;
}
.card > div{
	/* box-sizing: border-box; */
	background-color:white;
	width: 100%;
	float: left;
}
.profile img{
	border-radius: 55px;
	border: 5px solid #f7f7f7;
	position: relative;
	top: -60px;
	left: 35%;
	align-items: center;
}
.name,.age {
	display: inline-block;
	align-items:center;
	justify-content: center;
	position:relative;
	top:-20px;
}
.name,.stats-data{
	font-size:18px;
	font-weight: 700;
}
.location {
	display: flex;
	justify-content:center;
	position:relative;
	top:-20px;
}
.location,.age{
	font-size:16px;
	font-weight:400;
}
.stats {
	border-top: 1% solid gray;
	padding:5px;
}
.stats-description{
	font-size: 14px;
	font-weight: 400;
	display: flex;
	align-items:center;
	justify-content:center;
}
.stats ul{
    float: left;
    display: inline-block;
    position: relative;
    list-style-type:none;
	align-items:center;
	justify-content:center;
}
